spring:
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8081
---
spring:
  config:
    activate:
      on-profile: mysql
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://127.0.0.1:3306/microservices_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USER:microservices_user}
    password: ${MYSQL_PASSWORD:microservices_pass}
    hikari:
      initializationFailTimeout: 0
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        temp:
          use_jdbc_metadata_defaults: false
server:
  port: 8081
---
spring:
  config:
    activate:
      on-profile: postgres
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/microservices_db}
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER:microservices_user}
    password: ${POSTGRES_PASSWORD:microservices_pass}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 8081
